<h1>Login</h1>
<form action="/login" method="post">

  <label for="userName">User Name</label>
  <input name="userName" type="text" />
  <br />

  <label for="password">Password</label>
  <input name="password" type="password" />
  <br />

  <input type="submit" />
</form>