<h1>Update User</h1>
<form action="/updateUser" method="post">
  <label for="userName">User Name</label>
  <input name="userName" type="text" value="<%= data.userName %>" />
  <input name="userId" type="hidden" value="<%= data.id %>" />
  <br />


  <input type="submit" />
</form>